<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Live routes and real time updates</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Keep your flights under control</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Times, gates, terminals, and route info</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Get every detail at a glance</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Airports, airlines, countries, and distance</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>See your flight stats</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Browse past trips by date and route</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Revisit your flight history</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>designConfiguration</key>
		<dict>
			<key>backgroundColor</key>
			<string>#FFFFFF</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF</string>
			</array>
			<key>backgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>backgroundStyle</key>
			<string>solid</string>
			<key>bodyColor</key>
			<string>#1D1C1F</string>
			<key>bodyHighlightColor</key>
			<string>#FFD600</string>
			<key>devicePosition</key>
			<string>overflowBottom</string>
			<key>deviceScaleFactor</key>
			<real>1</real>
			<key>glitchDirection</key>
			<string>leadingToTrailing</string>
			<key>glitchEndColor</key>
			<string>#76FEFD</string>
			<key>glitchStartColor</key>
			<string>#F657FD</string>
			<key>glowColor</key>
			<string>#0091FF</string>
			<key>hideDeviceFrame</key>
			<false/>
			<key>overrideColor</key>
			<false/>
			<key>overrideDevicePosition</key>
			<false/>
			<key>overrideDeviceScaleFactor</key>
			<false/>
			<key>overrideTextAlignment</key>
			<false/>
			<key>stickerColor</key>
			<string>#000000</string>
			<key>textAlignment</key>
			<string>center</string>
			<key>textBackgroundColor</key>
			<string>#004593</string>
			<key>textBackgroundGradientColors</key>
			<array>
				<string>#004593</string>
				<string>#007AFF</string>
				<string>#007AFF00</string>
			</array>
			<key>textBackgroundLinearGradientDirection</key>
			<string>topToBottom</string>
			<key>textBackgroundStyle</key>
			<string>none</string>
			<key>titleColor</key>
			<string>#1D1C1F</string>
			<key>titleHighlightColor</key>
			<string>#FFD600</string>
			<key>titleTextStyle</key>
			<string>original</string>
			<key>waveTime</key>
			<real>0</real>
		</dict>
		<key>localizations</key>
		<array>
			<dict>
				<key>body</key>
				<string>Forward confirmations and import trips automatically</string>
				<key>language</key>
				<string>en-US</string>
				<key>title</key>
				<string>Add flights via email</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
